<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block tytul %}Sklep 4TP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Start</a> | 
        <a href="{{ url_for('lista') }}">Lista</a> | 
        <a href="{{ url_for('dodaj') }}">Dodaj</a>
        
        <form method="get" action="{{ url_for('szukaj') }}" style="display: inline;">
            <input name="q" placeholder="Szukaj..." value="{{ q if q is defined else '' }}">
            <button>Szukaj</button>
        </form>
    </nav>
    <hr>
    <main>
        {% block tresc %}{% endblock %}
    </main>
    <footer>4TP 2026</footer>
</body>
</html>