{% extends "base.html" %}

{% block tytul %}Dodaj element{% endblock %}

{% block tresc %}
    <h1>Dodaj nowy produkt</h1>
    <form method="post">
        <label>Nazwa: <input name="nazwa" required></label><br>
        <label>Cena: <input name="cena" type="number" step="0.01" required></label><br>
        <label>Kategoria: <input name="kategoria" required></label><br>
        <label><input type="checkbox" name="dostepny" value="1" checked> Dostępny</label><br>
        <button>Dodaj</button>
    </form>
{% endblock %}